@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

#div_feed_main{
    background-color: transparent;
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #C3C3C3; */
    background: url('../imgs/bgimage2_blur.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode:multiply;
    overflow-y: scroll;
}

#div_header_feed{
    background-color: transparent;
    width: 100%;
    max-width: 700px;
    align-items: center;
}

#p_header_feed_label{
    font-weight: bold;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

#div_posts_feed{
    background-color: transparent;
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#div_posts_feed:last-of-type{
  padding-bottom: 70px;
}

.div_postsIndv{
    background-color: #d3d3d3;
    width: 95%;
    min-height: 270px;
    height: auto;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px black;
  }

  .div_postsIndvSkeleton{
    background-color: #e0e0e0;
    width: 95%;
    min-height: 270px;
    height: auto;
    max-width: 500px;
    border-radius: 10px;
    opacity: 0.8;
    /* box-shadow: 0px 0px 3px black; */
  }

  #div_postslist_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
  }

  .img_previews{
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
  }

  #div_img_container{
    width: 100%;
    height: 270px;
    border-radius: 10px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-blend-mode:color-burn; */
    cursor: pointer;
  }

  #div_preview_labels_container{
    width: calc(100% - 30px);
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Roboto', sans-serif;
  }

  .p_labels_post{
    color: white;
    margin: 0px;
  }

  .p_labels_post:first-of-type{
    font-size: 10px;
    text-align: justify;
  }

  .p_labels_post:last-of-type{
    font-size: 15px;
    text-align: justify;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .div_content_expand{
    height: 0px;
    width: calc(100% - 30px);
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    background: linear-gradient(black 0%, white 10%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
  }

  #p_label_post_time{
    font-size: 11px;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .p_content_post{
    text-align: justify;
    font-size: 13px;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  #p_label_other_updates{
    margin: 0px;
    width: calc(100% - 20px);
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 17px;
    padding-bottom: 5px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    max-width: 500px;
    color: white;
  }

  .div_postsIndvMini{
    background-color: white;
    width: 95%;
    height: 170px;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    user-select:none;
  }

  .div_postsIndvMiniSkeleton{
    background-color: #e0e0e0;
    width: 95%;
    height: 170px;
    max-width: 500px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 3px black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    opacity: 0.8;
  }

  .div_postIndvMini_divider{
    width: 50%;
  }

  .div_postIndvMini_divider:first-of-type{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    width: calc(50% - 20px);
    height: calc(100% - 20px);
  }

  .div_postIndvMini_divider:last-of-type{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .img_postIndvMini_preview{
    width: 90%;
    height: 90%;
    border: solid 1px #d3d3d3;
    border-radius: 10px;
    object-fit: cover;
  }

  #p_postIndvMini_label_time{
    margin: 0px;
    padding-top: 5px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
  }

  #p_postIndvMini_label_title{
    margin: 0px;
    padding-top: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
    width: 100%;
    font-weight: bold;
  }

  #p_postIndvMini_label_content{
    margin: 0px;
    padding-top: 5px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 90px;
    width: 100%;
  }

  #div_post_details_window{
    background-color: white;
    position: absolute;
    box-shadow: 0px 0px 2px black;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    top: 20%;
    width: 100%;
    max-width: 500px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  #div_draggable_bar_container{
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  #div_draggable_bar_hold{
    width: 90%;
    height: 8px;
    background-color: #C3C3C3;
    max-width: 100px;
    border-radius: 8px;
  }

  #div_image_preview_holder{
    width: 100%;
    height: 250px;
    background-color: black;
  }

  #img_preview_post_mini_ab{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
  }

  #div_overall_post_container{
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  #div_post_title_holder_ab{
    width: calc(100% - 20px);
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 40px;
  }

  #p_post_title_ab{
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
  }

  #p_post_date_time_ab{
    text-align: left;
    font-size: 13px;
    /* font-weight: bold; */
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
  }

  #div_background_black_blur{
    background-color: black;
    width: 100%;
    height: 100%;
    top: calc(0% + 50px);
    position: absolute;
    opacity: 0.8;
    display: none;
  }

  .p_content_post_mini_ab{
    text-align: justify;
    font-size: 13px;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 5px;
  }