#div_home{
    width: 100%;
    height: 100vh;
    background-color: white;
}

#navigation_home{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 60px;
    z-index: 2;
    background-color: white;
    overflow-y: auto;
    /* box-shadow: 0px 0px 3px black; */
}

#btn_menu{
    cursor: pointer;
    float: right;
    margin: 5px;
    background-color: white;
    border: solid 1px grey;
    border-radius: 5px;
    width: 50px;
    height: 30px;
}

#nav_navigation{
    margin-top: 50px;
    list-style-type: none;
}

.btn_navigations_toggle{
    margin: 5px;
    background-color: white;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 0px 3px black;
}

.li_nav_navigations{
    margin-top: 10px;
    margin-bottom: 10px;
}

.infowindow_user{
    display: flex;
    width: auto;
    flex-direction: column;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.p_labels{
    margin: 0;
}

#div_user_shortcut_details{
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 250px;
    bottom: 30px;
    left: 10px;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    text-align: left;
}

#nav_user_shortcut_details{
    list-style-type: none;
    width: calc(100% - 20px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.labeltext_user_shortcut_details{
    margin: 0px;
    /* font-size: 15px; */
    font-family: Arial;
}

.last_labeltext{
    margin-top: 10px;
    cursor: pointer;
}

.latlng_text{
    font-size: 13px;
}

#nav_exposed{
    /* background-color: aqua; */
    list-style-type: none;
    justify-content: center;
    padding: 5px;
    margin-top: 0px;
    display: flex;
    width: calc(100% - 10px);
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

#navigations_h4{
    margin: 0px;
    margin-bottom: 10px;
    text-align: left;
    padding: 10px;
}

#navigations_h4_2{
    margin: 0px;
    margin-bottom: 10px;
    text-align: left;
    padding: 10px;
    margin-top: 20px;
}

.link_ptags{
    margin: 10px;
    text-align: left;
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.links_tag_navigation{
    text-decoration: none;
    color: black;
}

#btn_logout{
    width: 150px;
    height: 35px;
    background-color: white;
    border: solid 2px red;
    color: red;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    cursor: pointer;
}

#btn_logout:hover{
    background-color: red;
    color: white;
}

#user_id_tag{
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

@media screen and (max-width: 720px) {
    #navigation_home{
        background-color: transparent;
    }
}