@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

#div_home{
    width: 100%;
    height: 100vh;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

#navigation_home{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 60px;
    z-index: 2;
    background-color: white;
    overflow-y: auto;
    /* box-shadow: 0px 0px 3px black; */
}

#btn_menu{
    cursor: pointer;
    float: right;
    margin: 5px;
    background-color: white;
    border: solid 0px grey;
    border-radius: 5px;
    width: 50px;
    height: 30px;
}

#nav_navigation{
    margin-top: 50px;
    list-style-type: none;
}

.btn_navigations_toggle{
    margin: 5px;
    background-color: white;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 0px 3px black;
}

.li_nav_navigations{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.infowindow_user{
    display: flex;
    width: auto;
    flex-direction: column;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.p_labels{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#div_user_shortcut_details{
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 250px;
    bottom: 30px;
    left: 10px;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    text-align: left;
}

#nav_user_shortcut_details{
    list-style-type: none;
    width: calc(100% - 20px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.labeltext_user_shortcut_details{
    margin: 0px;
    /* font-size: 15px; */
    /* font-family: Arial; */
    font-family: 'Roboto', sans-serif;
}

.last_labeltext{
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.latlng_text{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

#nav_exposed{
    /* background-color: aqua; */
    list-style-type: none;
    justify-content: center;
    padding: 5px;
    margin-top: 0px;
    display: flex;
    width: calc(100% - 10px);
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

#navigations_h4{
    margin: 0px;
    margin-bottom: 10px;
    text-align: left;
    padding: 10px;
}

#navigations_h4_2{
    margin: 0px;
    margin-bottom: 10px;
    text-align: left;
    padding: 10px;
    margin-top: 20px;
}

.link_ptags{
    margin: 10px;
    text-align: left;
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.links_tag_navigation{
    text-decoration: none;
    color: black;
}

#btn_logout{
    width: 150px;
    height: 35px;
    background-color: white;
    border: solid 2px red;
    color: red;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

#btn_logout:hover{
    background-color: red;
    color: white;
}

#user_id_tag{
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#div_header_main{
    background-color: transparent;
    height: 50px;
    display: flex;
    width: 100%;
    background-color: white;
    align-items: center;
    box-shadow: 0px 0px 2px black;
}

#p_page_label{
    color: black;
    font-size: 17px;
    margin: 0px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

#div_account_image_container{
    /* background-color: green; */
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

#div_account_image_btn_holder{
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 35px;
}

#img_default_driver_img{
    width: 100%;
    height: 100%;
}

#div_profile_preview{
    background-color: transparent;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    align-items: flex-start;
    margin-bottom: 20px;
}

#img_profile_preview{
    width: 100%;
    max-width: 100px;
}

#p_label_userName{
    font-size: 15px;
    font-weight: bold;
    margin: 0px;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
}

#p_label_userID{
    font-size: 13px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: #404040;
}

#div_loading_splash_screen{
    /* background-color: green; */
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: url('../imgs/bgimage2_blur.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode:multiply;
}

#div_loading_anim{
    background-color: transparent;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_infowindow_station_details{
    width: 210px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
}

.p_station_details{
    margin: 0px;
    text-align: left;
}

.p_station_details:nth-of-type(2){
    font-weight: bold;
}

.p_station_details:nth-of-type(3){
    margin-top: 10px;
}

@media screen and (max-width: 720px) {
    #navigation_home{
        background-color: transparent;
    }
}