@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

#div_infomap{
    width: 100%;
    /* max-width: 500px; */
    height: calc(100% - 51px);
    background-color: #e7e7e7;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    margin-top: 1px;
}

#div_header_infomap{
    width: 100%;
    background-color: transparent;
}

#p_infomap_label{
    font-size: 17px;
    font-weight: bold;
}

#div_route_info{
    width: calc(100% - 20px);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #808080;
    text-align: left;
}

.p_route_info_label{
    margin: 0px;
    /* font-size: 15px; */
}

.p_route_info_label:first-of-type{
    margin: 0px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

.p_route_info_label:nth-of-type(2){
    margin: 0px;
    font-size: 13px;
}

.p_route_info_label:nth-of-type(3){
    margin: 0px;
    font-size: 13px;
}

.p_route_info_label:nth-of-type(4){
    margin: 0px;
    font-size: 13px;
}

#div_stationList{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    flex: 1;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 130px;
}

.div_stationIndv{
    width: 90%;
    height: auto;
    min-height: 180px;
    max-width: 500px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
}

.div_bar_container{
    background-color: #B7B7B7;
    width: 20px;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    display: flex;
    align-items: flex-start;
}

.div_stationInfo_container{
    background-color: transparent;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.div_stationInside_container{
    /* background-color: orange; */
    width: calc(90% - 20px);
    max-width: 270px;
    height: 100px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#p_stationName{
    margin: 0px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    /* color: #404040; */
}

#p_waitingNumber{
    margin: 0px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.flexed_div{
    flex: 1;
}

#img_drivericon{
    width: 30px;
    height: 30px;
    /* top: -15px; */
    bottom: -15px;
    position: relative;
}

#div_insidebar_iconholder{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    /* height: 50%; */
}

#div_headway_container{
    background-color: transparent;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    border-top: solid 1px #808080;
}

#div_headway_label{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#p_headway_label{
    margin: 0px;
    font-size: 15px;
    font-weight: bold;
}

#div_headway_content{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#div_stationHeader_icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

#div_driver_infomapdetails_window{
    background-color: white;
    position: absolute;
    width: 100%;
    top: 90%;
    height: 40%;
    z-index: 1;
    box-shadow: 0px 0px 2px black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    /* overflow-y: scroll; */
    /* padding-bottom: 100px; */
    /* align-self: center; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}

#div_draggable_bar_container{
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  #div_draggable_bar_hold{
    width: 90%;
    height: 8px;
    background-color: #C3C3C3;
    max-width: 100px;
    border-radius: 8px;
  }

  #div_time_schedule_header{
    background-color: transparent;
    width: 100%;
  }

  #p_times_schedule_label{
    font-size: 15px;
    font-weight: bold;
    /* text-align: left; */
    font-family: 'Roboto', sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
  }

  #div_time_schedule_content{
    background-color: transparent;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }

  #div_time_schedule_days{
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0px;
    justify-content: center;
  }
  
  .div_day_selection{
    background-color: transparent;
    width: 14.3%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .p_day_selection_labels{
    font-size: 13px;
    margin: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    /* font-weight: bold; */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
  }

  .div_day_selection_indicator_container{
    background-color: #D9D9D9;
    width: 100%;
    height: 10px;
  }

  .div_day_selection_indicator_container_uno{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  .div_day_selection_indicator_container_last{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }

  .div_day_selection_indicator{
    background-color: #2B4273;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  #div_time_schedule_sorted_container{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }

  #p_trip_destination_label{
    text-align: left;
    margin: 0px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  #div_driver_infomapdetails_content_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    flex: 1;
    overflow-y: auto;
    padding-bottom: 20px;
  }

  .div_loop_per_time_interval{
    background-color: transparent;
    width: 100%;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #div_time_interval_point_bar_container{
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    /* height: 40px; */
    /* max-width: 300px; */
  }

  #div_time_interval_point_bar{
    background-color: #C8C8C8;
    width: 100%;
    height: 45px;
    max-width: 300px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #div_time_interval_start_point{
    background-color: #2B4273;
    height: 100%;
    width: 50%;
    max-width: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    color: white;
    font-size: 13px;
  }

  #div_time_interval_end_point{
    background-color: #FFC700;
    height: 100%;
    width: 50%;
    max-width: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
    font-size: 13px;
  }

  #div_tripTime_visuals{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 280px;
    justify-content: center;
    padding-top: 10px;
    gap: 5px;
  }

  .p_tripTime_indv{
    margin: 0px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
  }

  #hr_separator{
    background-color: transparent;
    display: flex;
    flex: 1;
    border: 1px dashed #4A4A4A;
  }

  #div_tripInterval_visuals{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 280px;
    justify-content: center;
    margin-bottom: 10px;
  }

  #p_tripInterval_data{
    font-size: 13px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
  }